{% extends 'base.html' %}

{% block title %}
    Blog-Home
{% endblock title %}

{% block content %}
    <div class="container p-0 my-3">
        <p class="fs-2 fw-bolder text-dark mb-3">Search Results:</p>

        {% if allPosts|length < 1 %}
            <p class="fs-4 mt-3">We could not find any posts related to <span class="fw-bolder">{{query}}</span></p>
            <p class="fs-4 fw-bolder">Suggestions: </p>
            <ul>
                <li>Make sure that all words are spelled correctly.</li>
                <li>Try different keywords.</li>
                <li>Try more general keywords.</li>
            </ul>
        {% endif %}
        {% for post in allPosts %}
        <div class="card mb-4">
            <div class="card-body">
              <span class="card-title fs-2">{{ post.title }} </span><span class="fs-6 fw-lighter">  by </span><span class="fs-5 fw-lighter">{{post.author}}</span>
              <p class="card-text mt-3">{{ post.content|striptags|truncatechars:400 }}...</p>
              <a href="/blog/{{post.slug}}" class="btn btn-primary btn-sm">Continue reading</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}