{% extends 'base.html' %}
{% load static %}

{% block title %}
Blog-Post
{% endblock title %}

{% block content %}
{% load humanize %}
{% load extras %}
<div class="container my-4">
    <p class="title fs-1 fw-bold my-3">{{ post.title }}</p>
    <p class="author fs-5 fw-lighter">Author: <a href="#" class="text-decoration-none">{{ post.author }}</a></p>
    <p class="fs-5 fw-lighter">{{ post.timestamp }}</p>
    <hr class="my-3">
    <p class="fs-5 lh-base">{{ post.content|safe }}</p>
    <hr class="my-5">
    <h3 class="fw-bolder mb-4">Comments ({{comments.count}})</h3>
    {% if user.is_authenticated %}
    <form action="/blog/post_comment" method="post" class="row g-3 mb-4 mx-1"> {% csrf_token %}
        <input type="hidden" name="post_id" value="{{ post.post_id }}">
        <input type="hidden" name="parentComId" value="">
        <div class="col-11">
            <label for="inputComment" class="visually-hidden">Comment Text</label>
            <textarea class="form-control" name="comment" id="inputComment" placeholder="Enter your comment here"
                rows=2></textarea>
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-primary pt-4 pb-4">Comment</button>
        </div>
    </form>
    {% else %}
    <p class="m-2 p-1 fs-5 fst-italic text-center">You must be logged in to comment.</p>
    {% endif %}
    <div class="row mt-3 mb-2 me-2">
        {% for comment in comments %}
        <div class="col-1 mb-4 align-items-center">
            <img class="border border-dark rounded-circle" src="{% static 'blog/images/profile.png' %}"
                alt="user profile image" width="50px" height="50px" />
        </div>
        <div class="col-11 mb-4">
            <p class="mb-1 fs-5 fw-bold">{{ comment.user.username }} <span class="fs-6 text-muted">
                    {{comment.timestamp|naturaltime }}</span></p>
            <p>{{comment.comment}}</p>
            <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseReply{{comment.com_id}}" aria-expanded="false"
                aria-controls="collapseReply{{comment.com_id}}">
                Reply
            </button>
            <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#viewReply{{comment.com_id}}" aria-expanded="false"
                aria-controls="viewReply{{comment.com_id}}">
                View Replies
            </button>
            <div class="collapse" id="collapseReply{{comment.com_id}}">
                <div class="card card-body border-0 px-2 pb-0">
                    {% if user.is_authenticated %}
                    <form action="/blog/post_comment" method="post" class="row g-3"> {% csrf_token %}
                        <input type="hidden" name="parentComId" value="{{ comment.com_id }}">
                        <input type="hidden" name="post_id" value="{{ post.post_id }}">
                        <div class="col-11">
                            <label for="inputComment" class="visually-hidden">Reply Text</label>
                            <textarea class="form-control" name="comment" id="inputComment"
                                placeholder="Enter your reply here" rows=1></textarea>
                        </div>
                        <div class="col-1">
                            <button type="submit" class="btn btn-primary py-2">Reply</button>
                        </div>
                    </form>
                    {% else %}
                    <p class="m-2 p-1 fs-5 fst-italic text-center">You must be logged in to comment.</p>
                    {% endif %}
                </div>
            </div>
            {% for reply in replyDict|get_val:comment.com_id %}
            <div class="collapse" id="viewReply{{comment.com_id}}">
                <div class="row mt-3 mb-2 me-2">
                    <div class="col-1 mb-4 align-items-center">
                        <img class="border border-dark rounded-circle" src="{% static 'blog/images/profile.png' %}"
                            alt="user profile image" width="50px" height="50px" />
                    </div>
                    <div class="col-11 mb-4">
                        <p class="mb-1 fs-5 fw-bold">{{ reply.user }} <span class="fs-6 text-muted">
                                {{reply.timestamp|naturaltime }}</span></p>
                        <p>{{reply.comment}}</p>
                        <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseReply{{comment.com_id}}" aria-expanded="false"
                            aria-controls="collapseReply{{comment.com_id}}">
                            Reply
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        {% endfor %}
    </div>

</div>
{% endblock content %}